<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- App Information -->
    <key>CFBundleDisplayName</key>
    <string>PBHR</string>
    <key>CFBundleIdentifier</key>
    <string>com.phongsavanhbank.pb_hrsystem</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <!-- Minimum iOS Version -->
    <key>MinimumOSVersion</key>
    <string>9.0</string>

    <!-- App Icons -->
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>AppIcon</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
    </dict>

    <!-- Permissions -->
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera for capturing photos.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select and upload photos.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need access to your location for providing location-based services.</string>
    <key>NSFaceIDUsageDescription</key>
    <string>We need access to Face ID for authentication purposes.</string>

    <!-- Background Modes -->
    <key>UIBackgroundModes</key>
    <array>
        <string>fetch</string>
        <string>location</string>
    </array>

    <!-- Supported Interface Orientations -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- Flutter Configuration -->
    <key>io.flutter.embedded_views_preview</key>
    <true/>

    <!-- Flutter Local Notifications -->
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>fetch</string>
        <string>processing</string>
    </array>
</dict>
</plist>
